*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    height: 100%;
    width:100%;
}

#main{
    height: 85%;
    width: 100%;
    background-color: #111;
    display: flex;
    padding: 5vw 10vw;
}

#left{
    height: 100%;
    width: 45%;
    background-color: #333;
    /* background: url(https://m.media-amazon.com/images/I/91zTlD7AY1L.jpg); */
    background-size: cover;
    background-position: top;
}

#right{
    width: 55%;
    height: 100%;
    /* background-color: blue; */
    padding: 0 3vw;
}

#right h3{
    font-size: 30px;
}

#all-songs{
    /* background-color: red; */
    height: 85%;
    margin-top: 20px;
}

.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 1px solid #5b5454;

}

.song-card:hover{
    background-color: #1e1e1e;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid #5b5454;
}

.part1{
    display: flex;
    align-items: center;
    gap: 30px;
    pointer-events: none;
}

.song-card img{
    height: 55px;
    width: 55px;
}

.song-card h2{
    font-size: 22px;
    font-weight: 600;
}

.song-card h6{
    font-size: 16px;
}


#player{
    height: 15%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3{
    background-color: rgb(44, 43, 43);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#player h3 i{
    font-size: 24px;
}

#player h3:active{
    scale: 0.93;
}